{% extends 'user_dashboard.html' %}
{% block title %} {{ dashboard.heading }} {% endblock %}
{% block dashboard_body %}
<div class="container-fluid d-flex flex-column h-100 gap-3 p-0 m-0">
	<form class="col align-items-center" action = "{{ request.path }}" method = "post">
		{% csrf_token %}
		{% load widget_tweaks %}
		{% for field in form %}
			<div class="mb-3">
				{{ field.label_tag }}
				{% render_field field class="form-control form-select" %}
			</div>
		{% endfor %}
		<div>
			<input type = "submit" value = "Request lesson" class = "btn btn-primary">
		</div>
	</form>
</div>
{% endblock %}
