{% extends 'site_base.html' %}
{% block title %}Log in{% endblock %}
{% block site_body %}
<div class="row">
	<div class="col-lg-5 col-md-9 col-sm-12">
		<div class="card">
			<div class="card-body">
				<h2 class="card-title">Log in</h2>
				<h6 class="card-subtitle text-muted mb-4">Don't have an account yet? <a href = "{% url 'sign_up' %}">Sign up</a></h6>
				<form action = "{% url 'log_in' %}" method = "post">
					{% csrf_token %}
					{% include 'partials/form.html' with form=form %}

					{% include 'partials/messages.html' %}

					<input type = "submit" value = "Log in" class = "btn btn-primary w-100">
				</form>
			</div>
		</div>
	</div>
	<div class="col-lg-7 col-md-3 d-flex justify-content-around">
		{% load static %}
		<img src="{% static 'images/Connected world-amico.svg' %}" alt="People with lines connecting to them to the Earth showing how everyone is connected." class = "img-fluid w-75 ml-auto" draggable="false">
	</div>
</div>
{% endblock %}